footer {
    position: fixed;
    left: 0;
    bottom: 0;
}
footer ul li {
    display: inline;
    text-align: center;
    padding: 2px ;
    margin: 0;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    flex-flow: column wrap;
}

#result {
    font-size: xxx-large;
}
#message {
    font-size: large;
}

a {
    padding: 2px ;
    color: grey;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: lightgray
    }
    a:hover {
        background-color: lightgray;
        color: black;
    }
}
@media (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black
    }
    a:hover {
        background-color: grey;
        color: white;
    }
}

.fail {
    color:red;
}
.pass {
    color:green;
}
.inconclusive {
    color:blue;
}
.pending {
    color:yellow;
}
